// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  769px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

/* This file is fixing ipad (768px) issue with sm-columns */

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Paths
$path-images: "../img/";

// Colors
$white-color: #ffffff;


// Fonts

// Font weights

$weight-light: 300;
$weight-regular: 500;
$weight-bold: 700;
$weight-black: 900;




