$main-color: red;

#wp-admin-bar-wp-logo-external,
#wp-admin-bar-wporg,
#wp-admin-bar-documentation,
#wp-admin-bar-support-forums,
#wp-admin-bar-feedback,
#wp-admin-bar-themes,
#wp-admin-bar-widgets,
#wp-admin-bar-customize,
#wp-admin-bar-comments {
  display: none !important;
}

#wpcontent #wp-admin-bar-wpfc-toolbar-parent {
  .ab-empty-item {
    &:hover {
      color: $white-color;
      background-color: $main-color;
    }
  }
}

#wpadminbar {
  a {
    &:hover, &:focus {
      color: $main-color !important;
    }
  }
  li {
    a:focus {
      .ab-icon:before {
        color: $main-color;
      }
    }
    &:hover, &.hover {
      .ab-icon, .ab-item {
        &:before {
          color: $main-color;
        }
      }
    }
    > a.menu-top:focus {
      color: $main-color;
    }
  }
  .quicklinks {
    .ab-sub-wrapper {
      .menupop.hover {
        > a {
          color: $main-color;
        }
      }
    }
    .menupop {
      ul {
        li {
          a {
            &:focus, &:hover {
              color: $main-color;
              strong {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
  &.nojs {
    .quicklinks {
      .menupop:hover {
        ul {
          li {
            a {
              &:focus, &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
  .ab-top-menu {
    .hover {
      > a {
        color: $main-color !important;
        > span.ab-label {
          color: $main-color !important;
        }
      }
    }
    > li.hover {
      > .ab-item {
        color: $main-color;
      }
    }
  }
  &:not(.mobile) {
    > #wp-toolbar li:hover span.ab-label {
      color: $main-color !important;
    }
  }
  #wp-admin-bar-site-name {
    .ab-item {
      &:before {
        color: $main-color;
      }
      &:hover:before, &:focus:before {
        color: $main-color;
      }
    }
    &:hover, &:focus {
      .ab-item {
        &:before {
          color: $main-color;
        }
      }
    }
    &:hover {
      .ab-item {
        &:hover:before, &:focus:before {
          color: $main-color;
        }
      }
    }
  }
}