@mixin box-shadow-opacity($color, $opacity: 0.3) {
  -webkit-box-shadow: 0 0 2px rgba($color, $opacity);
  box-shadow: 0 0 2px rgba($color, $opacity);
}

$main-color: #ec008c;
$gray-color: #333333;
$white-color: #ffffff;
$black-color: #000000;

#wp-admin-bar-wp-logo-external,
#wp-admin-bar-wporg,
#wp-admin-bar-documentation,
#wp-admin-bar-support-forums,
#wp-admin-bar-feedback,
#wp-admin-bar-themes,
#wp-admin-bar-customize,
#wp-admin-bar-comments,
#wpfooter {
  display: none !important;
}


a {
  color: darken($main-color, 20%);
  &:hover {
    color: $main-color !important;
  }
  &:focus {
    @include box-shadow-opacity($main-color, 0.8);
  }
}

input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  border-color: $main-color;
  @include box-shadow-opacity($main-color, 0.8);
}

input[type=checkbox]:checked:before {
  color: $main-color !important;
}

input[type=checkbox]:focus,
input[type="text"]:focus,
input[type=text]:focus,
input[type="password"]:focus,
input[type=password]:focus {
  border-color: $main-color;
  @include box-shadow-opacity($main-color, 0.8);
}

input[type=radio]:checked:before {
  background-color: $main-color;
}

input[type=checkbox]:checked:before {
  color: $main-color;
}

select:focus {
  border-color: $main-color;
  @include box-shadow-opacity($main-color, 0.8);
}

.media-frame {
  a {
    color: $main-color !important;
    &:focus {
      border-color: $main-color !important;
      box-shadow: none !important;
    }
  }
  textarea, input {
    &:focus {
      border-color: $main-color !important;
      box-shadow: none;
    }
  }
}

.wp-core-ui .attachment.details,
.wp-core-ui .attachment.details:focus,
.wp-core-ui .attachment:focus,
.wp-core-ui .selected.attachment:focus {
  -webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px $main-color !important;
  box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px $main-color !important;
}

.wp-core-ui .attachment.details .check,
.wp-core-ui .attachment.selected .check:focus,
.wp-core-ui .media-frame.mode-grid .attachment.selected .check {
  background-color: $main-color !important;
  -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px $main-color !important;
  box-shadow: 0 0 0 1px #fff,0 0 0 2px $main-color !important;
}

.wp-core-ui {
  .button:focus {
    border-color: $main-color;
    @include box-shadow-opacity($main-color, 0.8);
  }
  .button-link:focus {
    outline: $main-color solid 1px;
    border-color: $main-color;
    @include box-shadow-opacity($main-color, 0.8);
  }
  .button-primary {
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: $main-color !important;
    &:hover, &:active, &:focus {
      color: $white-color !important;
      background: darken($main-color, 10%) !important;
    }
  }
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
  border: none !important;
  color: #dddddd !important;
  background: #5c1313 !important;
}

.media-modal-close:hover {
  .media-modal-icon:before {
    color: $main-color !important;
  }
}

.disabled-item {
  border: 0 !important;
  color: $black-color !important;
}

#customize-controls .customize-info .customize-help-toggle:focus,
#customize-controls .customize-info .customize-help-toggle:hover,
#customize-controls .customize-info.open .customize-help-toggle {
  color: $main-color !important;
}

#available-menu-items .item-add:focus:before,
#available-menu-items-search .clear-results:focus,
#customize-controls .customize-info .customize-help-toggle:focus:before,
.customize-screen-options-toggle:focus:before, .menu-delete:focus,
.menu-item-bar .item-delete:focus:before, .wp-customizer .menu-item .submitbox .submitdelete:focus,
.wp-customizer button:focus .toggle-indicator:after {
  @include box-shadow-opacity($main-color, 0.8);
}

#available-menu-items .menu-item-handle:hover .item-add,
.menu-item-handle:hover .item-edit,
.menu-item-handle:hover .item-type,
.menu-item-handle:hover,
.reorder-toggle {
  color: $main-color;
}

#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li.current a .awaiting-mod {
  background-color: $gray-color;
}

#adminmenu {
  .wp-has-submenu.menu-icon-cars-makes {
    div.wp-menu-image {
      &:before {
        content: "\f1b9";
        color: rgba(240, 245, 250, .6);
        font-size: 17px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    }
  }
  .wp-has-submenu.menu-icon-cars-makes.wp-menu-open {
    div.wp-menu-image {
      &:before {
        color: $white-color;
      }
    }
  }
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  color: $main-color;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  border: none;
  color: $white-color !important;
  background: $gray-color;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  color: lighten($main-color, 20%) !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
  background-color: $main-color !important;
}

#adminmenu li.wp-menu-open:hover,
#adminmenu li.wp-menu-open:focus,
#adminmenu li.wp-menu-open a:hover,
#adminmenu li.wp-menu-open a:focus,
#adminmenu li.wp-menu-open a:focus div.wp-menu-image:before,
#adminmenu li.wp-menu-open.opensub div.wp-menu-image:before,
#adminmenu li.wp-menu-open:hover div.wp-menu-image:before,
#adminmenu li.current:hover,
#adminmenu li.current:focus,
#adminmenu li.current a:hover,
#adminmenu li.current a:focus,
#adminmenu li.current a:focus div.wp-menu-image:before,
#adminmenu li.current.opensub div.wp-menu-image:before,
#adminmenu li.current:hover div.wp-menu-image:before,
#adminmenu li.current > a.current.menu-top:focus {
  color: $white-color !important;
}

#adminmenu a:hover {
  color: lighten($main-color, 20%) !important;
}

#adminmenu .menu-top:hover .wp-menu-image:before,
#adminmenu .menu-top:focus .wp-menu-image:before {
  color: lighten($main-color, 20%) !important;
}

#adminmenu .wp-menu-open:hover .wp-menu-image:before,
#adminmenu .wp-menu-open:focus .wp-menu-image:before {
  color: $white-color !important;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:hover,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:focus {
  color: $white-color !important;
  background: $main-color !important;
}

#adminmenu li > a.menu-top:focus {
  color: lighten($main-color, 20%) !important;
}

.wrap .page-title-action {
  color: $main-color !important;
}

.wrap .page-title-action:hover,
.wrap .page-title-action:focus {
  border: none !important;
  color: $white-color !important;
  background-color: $main-color !important;
  box-shadow: none !important;
}

#adminmenu .wp-menu-image:hover:before {
  color: lighten($main-color, 20%) !important;
}

.ab-item:before {
  color: lighten($main-color, 20%) !important;
}

#wpadminbar #wp-admin-bar-site-name .ab-item:hover:before,
#wpadminbar #wp-admin-bar-site-name .ab-item:focus:before,
#wpadminbar #wp-admin-bar-site-name:hover .ab-item:before,
#wpadminbar #wp-admin-bar-site-name:focus .ab-item:before,
#wpadminbar #wp-admin-bar-site-name:hover .ab-item:hover:before,
#wpadminbar #wp-admin-bar-site-name:hover .ab-item:focus:before {
  color: lighten($main-color, 20%) !important;
}

#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
  color: $main-color;
}

.wp-list-table {
  thead {
    background: $gray-color;
  }
  .sorting-indicator:before {
    color: $white-color;
  }
}

.wp-list-table thead tr th,
.wp-list-table thead tr th a {
  color: $white-color;
  &:hover, &:focus {
    color: $white-color !important;
  }
}

.wp-list-table thead tr th a:focus {
  box-shadow: none;
}

#poststuff .stuffbox>h3, #poststuff h2, #poststuff h3.hndle {
  color: $white-color;
  background: $main-color;
}

#wpcontent #wp-admin-bar-wpfc-toolbar-parent .ab-empty-item:hover {
  color: $white-color !important;
  background-color: $main-color !important;
}

.wp-core-ui.media-modal .image-editor .imgedit-help-toggle,
.wp-core-ui.media-modal .image-editor .imgedit-help-toggle:active,
.wp-core-ui.media-modal .image-editor .imgedit-help-toggle:hover {
  color: $main-color !important;
}

.wp-core-ui.media-modal .image-editor .imgedit-help-toggle:focus {
  color: $main-color !important;
  border-color: transparent !important;
  @include box-shadow-opacity($main-color, 0.8);
}

.accordion-section-title:after,
.handlediv,
.sidebar-name-arrow {
  color: $white-color !important;
}

// ACF
// -------------
// -------------

.acf-field-object.open > .handle {
  background: $gray-color !important;
  border: none !important;
  text-shadow: none !important;
}